# MongoDB Atlas Credentials Template
MONGODB_USERNAME=your_mongodb_username
MONGODB_PASSWORD=your_mongodb_password
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxxx.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB_NAME=reg6_revenue
PORT=5000
